 /* Bordered form */
  form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
  }

  .noteform {
    margin: 0 auto;
    width: 300px;
    padding: 0 25px;
    background: white;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #55a1ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  a.button {
    background-color: #55a1ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  a.logoutbutton {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  a.createbutton {
    background-color: #55a1ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  .notecontainer {
    margin: 0 auto;
    width: 300px;
    padding: 0 25px;
    background: white;
  }


  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } 

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #55a1ff;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.overlay {
  position:fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background: #f1f1f1;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

.wrapper{
  margin: 70px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position:relative;
  transition: all 5s ease-in-out;
}

.wrapper h2 {

  margin-top: 0;
  color: #333;

}

.wrapper .close {
  position: absolute; 
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:#333;
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
}